@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
}

.header {
  font-family: "Permanent Marker", cursive;
  padding: 2vh 2vh;
  background-color: #1c1a1d;
  color: white;
  width: 100%;
  margin: 0;

  position: fixed;
  top: 0;
  z-index: 1000;
  /* box-shadow: 0 10px 500px 50px rgba(38, 33, 43, 0.5); */
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-list li {
  margin-left: 10%;
  margin-right: 10%;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 3vh;
  transition: color 0.3s;
}

body {
  margin: 0;
  background-color: #282529;
  color: white;
}

.home {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1c1a1d;
  border-radius: 20px;
}

.img-me {
  width: 30vh;
  height: auto;
}
.head-text {
  padding-top: 2%;
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 4vh;
}

.home-text {
  font-family: "Kalam", cursive;
  font-size: 3vh;
  color: white;
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 5%;
  /* width: 40%; */
  /* text-align: justify; */
}

.skills {
  font-family: "Permanent Marker", cursive;
  font-size: 4vh;
  margin-top: 5%;
  background-color: #1c1a1d;
  border-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 7vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.comics {
  font-family: "Permanent Marker", cursive;
  font-size: 4vh;
  margin-top: 5%;
  background-color: #1c1a1d;
  border-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 7vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row1 {
  display: flex;
  justify-content: space-between;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 5%;
}
.row2 {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}
.row3 {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 2%;
}
.img-logo {
  width: 20vh;
  height: auto;
}
.img-logo-2 {
  width: 30vh;
  height: auto;
}

.projects {
  font-family: "Permanent Marker", cursive;
  font-size: 4vh;
  margin-top: 5%;
  background-color: #1c1a1d;
  border-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head-text-2 {
  padding-top: 1%;
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 4vh;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-left: 25%;
  padding-right: 25%;
}

.social-icons a {
  display: inline-block;
  width: 10vh;
  height: 10vh;
  text-decoration: none;
}
.social-icons img {
  width: 50%;
  height: auto;
  display: block;
}
.window1 {
  background-color: #232124;
}

.comic-img {
  width: 50vh;
  height: auto;
}

.comics-text {
  font-family: "Kalam", cursive;
  font-size: 3vh;
  color: white;
  padding-top: 1%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 1%;
}
